<!DOCTYPE HTML>
 
<html>
	<head>
		<title>Tomato Leaf Disease Identification</title>
		<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="../static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="no-sidebar is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">

					<!-- Inner -->
						<div class="inner">
							<header>
								<h1><a href="index.html" id="logo">Tomato Leaf Disease Identification</a></h1>
							</header>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								
								<li><a href="{{ url_for('first')}}">Home</a></li>
								 
								<li><a href="{{ url_for('login')}}">Login</a></li>
								<li><a href="{{ url_for('index')}}">Preview</a></li>
								<li><a href="{{ url_for('performance')}}">Performance_analysis</a></li>
								 
								<li><a href="{{ url_for('chart')}}">Chart</a></li>
							</ul>
						</nav>

				</div>

			<!-- Main -->
				<div class="wrapper style1">

					<div class="container">
						<article id="main" class="special">
							<header>
							 
								 <div class="section-title">
          <h2>PERFORMANCE ANALYSIS</h2>
          
		  
	  <body>
 </br></br>
<div><span style="margin-left:50px;color:black"><font size="12">Accuracy:  </font>
<span style="margin-left:80px;color:black"><font size="12">0.848</font>
</div> 
</br>
</br>
<div><span style="margin-left:50px;color:black"><font size="12">Precision:</font>
<span style="margin-left:80px;color:black"><font size="12">0.954   </font>
</div>
</br>
</br>    
 <div><span style="margin-left:50px;color:black"><font size="12">Recall:   </font>
<span style="margin-left:140px;color:black"><font size="12">0.848</font>
</div> 
</br>
</br>
<div><span style="margin-left:50px;color:black"><font size="12">F-Measure:   </font>
<span style="margin-left:40px;color:black"><font size="12">0.848</font>
</div> 
</br>
</br>  
 </br>
</br>
</br>
</br>
</br>

<div class="col-lg-8 mx-auto">
          <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
            
                       
                      <div><span style="margin-left:170px;color:red"><font size="12">Confusion Matrix</font></div>
					  </br>
					  </br>
					  
				<center>	    <div><img style="margin-left:-50px;width:800px;height:500px;" src="../static/download.png"</div></center>
                               
                         
						       
        </div>


 
</body>
							</header>
							 
							 
							 
							 
							 
							 
							 
							</article>
						</div>
					</div>

				</div>

			<!-- Footer -->
				<div id="footer">
					<div class="container">
						 
						 

						</div>
					</div>
				</div>

		</div>

		<!-- Scripts -->
		<script src="../static/assets/js/jquery.min.js"></script>
			<script src="../static/assets/js/jquery.dropotron.min.js"></script>
			<script src="../static/assets/js/jquery.scrolly.min.js"></script>
			<script src="../static/assets/js/jquery.scrollex.min.js"></script>
			<script src="../static/assets/js/browser.min.js"></script>
			<script src="../static/assets/js/breakpoints.min.js"></script>
			<script src="../static/assets/js/util.js"></script>
			<script src="../static/assets/js/main.js"></script>

	</body>
</html>